@import "../styles/variables"


.description-title
    border-bottom: $desert solid
    color: $desert
    margin-bottom: 22px


.description-body
    margin-bottom: 60px

.description-details
    display: flex
    flex-flow: row wrap
    flex-direction: row
    margin-bottom: 22px
    p
        margin-top: 0
        color: $brownish-grey
    .details-entry
        flex-basis: 30%
        border-left: 2px $cool-grey dotted
        padding-left: 22px
        margin-bottom: 3px
        padding-top: 5px
        margin-left: 11px
        span
            font-size: 14px
            letter-spacing: 1px
        div
            margin-top: 5px
        .detail-key
            color: $cool-grey
